.buttonNext {
    background-color: #5558FA;
    color: #fff;
    border-radius: 4px;
    padding: 12px 16px;
}

.buttonBack {
    color: #5558FA;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 16px;
    border: 1px solid #5558FA;
}

.delete {
    height: 20px;
    width: 20px;
    margin-left: 16px;
    background: url(../images/trash.svg);
    background-repeat: no-repeat;
}
