.container {
  margin: 1.8em;
}

.form__input {
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  width: 400px;
  height: 44px;
  margin-bottom: 24px;
  padding: 12px;
  margin-top: 8px;
}

.form__container {
  margin-bottom: 24px;
}
