.main {
    display: flex;
    align-items: center;
    padding-bottom: 1.8em;
    margin-bottom: 1.8em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.main__logo {
    background-color: #D5E4F7;
    font-size: 40px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.main__contacts_links {
    display: flex;
    list-style-type: none;
    gap: 18px;
    padding: 0;
}

.main__contacts-links li {
    display: flex;
    align-items: center;
}